@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Ubuntu');

p{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

#linha-cabecario{
    width: 100%;
    border-top:  1px solid #8A0808;
    margin-top: -1px;
}

#header-menu {
    display: block;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #8A0808
}
#img{
    float: left;
    margin-left: 0;
    clear: both;
}

#botao{
    font-size: 21px;
    color: #fff;
    background-color: #8A0808;
    padding: 0;
    height: 43px;
    width: 43px;
    margin-top: 53px;
    position: absolute;
    z-index: 4;
    border: 1px solid #FFFFFF;
    float: right;
    clear: both;
}

#nav, header{
    margin: auto;
}

#menu {
    margin-top: 33px;
    width: auto;
    text-transform: uppercase;
    padding: 5;
}

#menu li {
    background-color: #8A0808;
    border-bottom-left-radius: 14px;
    border-top-right-radius: 14px;
    border: 1px solid #FFFFFF;
    margin-top: 1px;
    margin-left: 10px;
}


#menu li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    z-index: 3;
    
}

#menu li a:hover{
    background-color: #FFFFFF;
    color: #8A0808;
    border-bottom-left-radius: 19px;
    border-top-right-radius: 19px;
}


footer #rodape{
    background-color: #8A0808;
    padding: 20px;
    color: #FFFFFF;
    border-radius: 10px;
    height: 60px;
    text-align: center;
    margin: 0px;
}

.zoom{
    overflow: hidden;
    clear: both;

    
}

.zoom img{
    max-width: 100%;
    margin: auto;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;

}
.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contWeb{
    
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#selecionada{
    
    
    color: #8A0808;
    
}
#fNome{   
    
    text-align:right;
    display: block;
    width: 90%;
    margin: 0 auto;

 }
#fRazaoSocial{   
    
    text-align:right;
    display: block;
    width: 90%;
    margin: 0 auto;
   
    
 }
#fEmail{   
    
    text-align:right;
    display: block;
    width: 90%;
    margin: 0 auto;
    
 }
#fMensagem{   
  
    text-align:right;
    display: block;
    width: 90%;
    margin: 0 auto;
    
 }

#fEnviar{   
  text-align:center;
    display: block;
    width: 25%;
    margin: 0 auto;
 }


